<div class="container mt-4">
  <h2>Calculadora de Resistencias (Código de Colores)</h2>

  <div class="row">
    <div class="col">
      <h4>1ra Banda</h4>
      <div *ngFor="let c of colores">
        <input type="radio" name="banda1" [value]="c" [(ngModel)]="banda1">
        <label [style.background]="c.hex" style="padding:4px; margin:2px; display:inline-block; width:100px;">
          {{c.nombre}}
        </label>
      </div>
    </div>

    <div class="col">
      <h4>2da Banda</h4>
      <div *ngFor="let c of colores">
        <input type="radio" name="banda2" [value]="c" [(ngModel)]="banda2">
        <label [style.background]="c.hex" style="padding:4px; margin:2px; display:inline-block; width:100px;">
          {{c.nombre}}
        </label>
      </div>
    </div>

    <div class="col">
      <h4>Multiplicador</h4>
      <div *ngFor="let c of colores">
        <input type="radio" name="banda3" [value]="c" [(ngModel)]="banda3">
        <label [style.background]="c.hex" style="padding:4px; margin:2px; display:inline-block; width:100px;">
          {{c.nombre}}
        </label>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h4>Tolerancia</h4>
      <div *ngFor="let t of tolerancias">
        <input type="radio" name="tol" [value]="t" [(ngModel)]="tolerancia">
        <label [style.background]="t.hex" style="padding:4px; margin:2px; display:inline-block; width:100px;">
          {{t.nombre}}
        </label>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button class="btn btn-success" (click)="calcularResistencia()">Calcular</button>
  </div>

  <div class="mt-4" *ngIf="valorBase > 0">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Color1</th>
          <th>Color2</th>
          <th>Color3</th>
          <th>Tolerancia</th>
          <th>Valor</th>
          <th>Valor Máximo</th>
          <th>Valor Mínimo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td [style.background]="banda1?.hex">{{banda1?.nombre}}</td>
          <td [style.background]="banda2?.hex">{{banda2?.nombre}}</td>
          <td [style.background]="banda3?.hex">{{banda3?.nombre}}</td>
          <td [style.background]="tolerancia?.hex">{{tolerancia?.nombre}}</td>
          <td>{{valorBase}}</td>
          <td>{{valorMax}}</td>
          <td>{{valorMin}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
