
<div class="container">
  <div class="row">
      <!-- <div>
        <h1>Hola Mundo</h1>
        <h2>{{ title }}</h2>
      </div>
      <div>
        la suma de 1+ 1 es {{1+1}}
      </div>
      <div>
        el doble de 3 es {{duplicarNumero(3)}}
      </div>
      <div>
        <h1>
        {{pelicula.titulo | uppercase}}
        </h1>
        <h2>{{pelicula.anio | date:'dd-MMMM-yyyy'}}</h2>
        <h3>{{pelicula.precio | currency}}</h3>
      </div> -->

      <!-- <app-heroes-list></app-heroes-list> -->
      <app-operas-bas></app-operas-bas>
      <router-outlet />

  </div>
</div>
